*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  background: #333;
  display: flex;
  flex-direction: column;

}

.spe-app-header {
  flex: 0;
  min-height: 70px;
  height: 70px;
  max-height: 70px;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: row;

  background: white;

}

.spe-app-header-title {
  flex: 1;
  min-width: 300px;
  padding-left: 50px;
}

.spe-app-header-search {
  flex: 2;
  max-width: 400px;

  position: relative;
}

.spe-app-search-results {
  position: absolute;
  background-color: white;
  opacity: 1;
  z-index: 1000;
  border-radius: 10px;
  border: 1px sold #333;
  top: 32px;
  min-width: 500px;
  max-width: 500px;
  width: 500px;
  max-height: 400px;
  overflow: auto;
}

.spe-app-search-results-background {
  background-color: white;
}

.spe-app-header-actions {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 25px;
}

.spe-app-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  overflow: hidden;

  background-color: #4854EE;
}

.spe-app-content-navigation {
  flex: 1;
  padding: 25px;
  padding-right: 50px;
  min-width: 300px;
  width: 225px;
}

.navigation-tabs {
  background-color: #4854EE;
}
.navigation-divider {
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.navigation-containers {
  display: flex;
  flex-direction: row;
}


.spe-app-content-main {
  flex: 10;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.main-content-header {
  flex: 0;
  padding: 20px;
  padding-left: 50px;
  /*
  min-height: 90px;
  max-height: 90px;
  height: 90px;
  */
  min-height: 30px;
  max-height: 30px;
  height: 30px;

  background-color: #4854EE;
}

.main-content-body {
  flex: 1;
  padding: 25px;
  border-radius: 20px 20px 0 0;
  margin-right: 25px;

  background-color: white;
}

.setup-steps li {
  margin: 20px;
  font-size: 16px;

}

.edit-container {
  margin-bottom: 30px;
  width: 50%;
}

.create-posting-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}
.posting-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.posting-content iframe {
  border: 1px solid #CCC;
}

.spe-app-content-sidebar {
  flex: 1;
  min-width: 400px;
  width: 450px;
  overflow: auto;
  position: relative;
  background-color: white;
}

#sharepoint-embedded-chat {
  background-color: #FFFFFF;
  border-radius: 0px 0px 3px 3px;
  width: 100%;
  height: 92vh;
  border: 0px;
}

.sidebar-resizer {
  min-width: 10px;
  max-width: 10px;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background-color: black;
  opacity: 0;
 
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar-resizer:hover {
  opacity: 0.3;
}

.sidebar-content {
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  overflow: auto;


  position: absolute;
  top: 0;
  left: 0;
}


.container-browser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  padding: 25px;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.container-actions {
  column-gap: 2px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  min-width: 90%;
  margin-bottom: 20px;
  padding: 10px;
}

.container-breadcrumb {
  text-align: left;
  align-items: left;
  justify-content: left;
  min-width: 90%;
  width: 65%;
  margin: 0px;
  padding: 10px;
}

.files-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;

  min-width: 90%;
  max-width: 90%;
  width: 90%;
  
  flex: 1;
}

.create-container-content {
  display: flex;
  flex-direction: column;
}

.create-container-content input {
  padding: 5px;
  color: rgb(84, 79, 79);
  border-radius: 4px;
  width: 250px;
}

.create-container-content label {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;;
}

.view-container-breadcrumb {
  margin-bottom: 20px;
}

.view-container-breadcrumb .fui-Breadcrumb {
  margin-bottom: 10px;
}

.view-container-breadcrumb .fui-Breadcrumb button {
  font-size: 20px;
  font-weight: 400;
}

.edit-container button {
  margin: 5px;
}

.view-container-tabs {
  margin-bottom: 20px;
}

.view-container-form-input {
  margin: 10px;
}

.view-container-form-input input {
  padding: 5px;
  color: rgb(84, 79, 79);
  border-radius: 4px;
  width: 250px;
}
.view-container-form-input textarea {
  padding: 5px;
  color: rgb(84, 79, 79);
  border-radius: 4px;
  width: 250px;
  display: block;
}

